@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Montserrat-Medium";
  font-display: swap;
  src: url("../public/assets/fonts/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-SemiBold";
  font-display: swap;
  src: url("../public/assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Bold";
  font-display: swap;
  src: url("../public/assets/fonts/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-semiBoldItalic";
  font-display: swap;
  src: url("../public/assets/fonts/Montserrat-SemiBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-ExtraBoldItalic";
  font-display: swap;
  src: url("../public/assets/fonts/Montserrat-ExtraBoldItalic.ttf") format("truetype");
}

.monsterrat-medium {
  font-family: "Montserrat-Medium" !important;
}
.monsterrat-semibold {
  font-family: "Montserrat-Semibold" !important;
}
.monsterrat-bold {
  font-family: "Montserrat-Bold" !important;
}

.monsterrat-semibolditallic {
  font-family: "Montserrat-Semibolditallic" !important;
}

.monsterrat-extrabolditallic {
  font-family: "Montserrat-Extrabolditallic" !important;
}

