@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Montserrat-Regular";
  font-display: swap;
  src: url("../public/assets/fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Medium";
  font-display: swap;
  src: url("../public/assets/fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-semibold";
  font-display: swap;
  src: url("../public/assets/fonts/Montserrat-Semibold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Bold";
  font-display: swap;
  src: url("../public/assets/fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-semiboldItalic";
  font-display: swap;
  src: url("../public/assets/fonts/Montserrat-SemiboldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-ExtraBoldItalic";
  font-display: swap;
  src: url("../public/assets/fonts/Montserrat-ExtraBoldItalic.ttf") format("truetype");
}

.monsterrat-regular {
  font-family: "Montserrat-Regular" !important;
}

.monsterrat-medium {
  font-family: "Montserrat-Medium" !important;
}

.monsterrat-semibold {
  font-family: "Montserrat-Semibold" !important;
}

.monsterrat-bold {
  font-family: "Montserrat-Bold" !important;
}

.monsterrat-semibolditallic {
  font-family: "Montserrat-Semibolditallic" !important;
}

.monsterrat-extrabolditallic {
  font-family: "Montserrat-Extrabolditallic" !important;
}

.custom-container {
  max-width: 100%;
  margin: 0 auto;
  padding-right: 6rem;
  padding-left: 6rem;
  box-sizing: border-box;
}

/* Media query for screens smaller than 600px */
@media (max-width: 768px) {
  .custom-container {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}